.background{
    background-image: linear-gradient(rgb(25, 87, 90), rgb(25, 90, 87), rgb(157, 172, 167));
    background-color: rgb(157, 172, 167);
    background-repeat: no-repeat;
}

.titulo{
    font-family: monospace;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255); 
    text-align: center;
    color:aquamarine;
}
.encabezado{
    margin: -9px;
    margin-bottom: auto;
    padding: 10px;
    background-color: black;
}

.logopoli{
    padding: 8px 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    border:none;
    display:block;
    width: 52px;
    height: 50px;
}


.logopoli:hover{
    -webkit-animation: tiembla 1s infinite;
  }
  @-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-2deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.9); }
    70% { -webkit-transform:rotateZ( 1deg); }
    100%{ -webkit-transform:rotateZ( 2deg); }
}

.tabla{
    background-color: rgb(25, 90, 87);
    font-family: sans-serif;
    table-layout: fixed;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    border: solid 4px aqua;
    border-collapse: collapse;
}

thead {
    background: rgb(157, 172, 167, 0.4);
}

.tabla th{
    font-family: sans-serif;
    color: rgb(255, 172, 142);
    border-bottom: 1px double aqua;
    font-size: 30px; /*1em = 16px*/
    font-weight: 700;
    border-bottom: 2px solid aqua;
    padding: 20px 30px;
    padding-left: 25px;
    text-align: center;
    border-collapse: collapse;
}

.tabla td {
    font-family: monospace;
	padding: 5px;
    border-bottom: 2px solid aqua;
    border-left: 1px solid aqua;
	text-align: center;
	font-size: 1.6em;
    border-collapse: collapse;
}

.imagen{
    width: 90px;
    height: 90px;
}

.imagen:hover {
    filter: grayscale(80%);
    transition:all .4s ease-in-out;
}