.background{
    background-color: rgb(25, 87, 90);
}

.titulo{
    font-family: monospace;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255); 
    text-align: center;
    color:aquamarine;
}
.encabezado{
    margin: -9px;
    margin-bottom: auto;
    padding: 10px;
    background-color: black;
}

.logopoli{
    padding: 8px 16px;
    position: absolute;
    top: 0;
    right: 0;
    border:none;
    display:block;
    width: 47px;
    height: 47px
}


.logopoli:hover{
    -webkit-animation: tiembla 0.85s infinite;
  }
  @-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-1deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.9); }
    100%{ -webkit-transform:rotateZ( 1deg); }
}

.tabla{
    font-family: monospace;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border: 3px double aqua;
    border-collapse: collapse;
}

.tabla th{
    font-family: monospace;
    color: rgb(255, 172, 142);
    border-bottom: 1px double aqua;
    font-size: 30px; /*1em = 16px*/
    padding: 20px;
    padding-left: 25px;
    text-align: center;    
}

.tabla td {
    font-family: Calibri;
	padding: 5px;
    border-bottom: 1px solid aqua;
    border-left: 1px solid aqua;
	text-align: center;
	font-size: 1.6em;
}

.imagen{
    width: 90px;
    height: 90px;
}

.imagen:hover {filter: grayscale(80%);}


