body{
    background-image: linear-gradient(rgb(25, 87, 90), rgb(25, 90, 87), rgb(157, 172, 167));
    background-color: rgb(157, 172, 167);
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
}

.titulo{
    font-family: monospace;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255); 
    text-align: center;
    color:aquamarine;
    margin-right: 24vh;
}
header{
    margin: -9px;
    margin-bottom: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
header h1 {
    padding-right: 8vh;
}

.guia {
    display: flex;
    padding-left: 10px;
    gap: 2vh;
    text-align: center;
    align-content: center;
}
.guia a {
    font-family: Arial;
    text-decoration: none;
}

.logopoli{
    padding: 8px 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    border:none;
    display:block;
    width: 52px;
    height: 50px;
}


.logopoli:hover{
    -webkit-animation: tiembla 1s infinite;
}
@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-2deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.9); }
    70% { -webkit-transform:rotateZ( 1deg); }
    100%{ -webkit-transform:rotateZ( 2deg); }
}

.tabla{
    background-color: rgb(25, 90, 87);
    font-family: sans-serif;
    table-layout: fixed;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    border: solid 4px aqua;
    border-collapse: collapse;
}

thead {
    background: rgb(157, 172, 167, 0.4);
}

.tabla th{
    font-family: sans-serif;
    color: rgb(255, 172, 142);
    border-bottom: 1px double aqua;
    font-size: 30px; /*1em = 16px*/
    font-weight: 700;
    border-bottom: 2px solid aqua;
    padding: 20px 30px;
    padding-left: 25px;
    text-align: center;
    border-collapse: collapse;
}

.tabla td {
    font-family: monospace;
	padding: 5px;
    border-bottom: 2px solid aqua;
    border-left: 1px solid aqua;
	text-align: center;
	font-size: 1.6em;
    border-collapse: collapse;
}

.imagen{
    width: 97px;
    height: 90px;
}

.imagen:hover {
    filter: grayscale(80%);
    transition:all .4s ease-in-out;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-form button {
    padding: 20px 44px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 17px;
}
.user-form button:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0);
}

.user-form div {
    padding: 10vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.user-form input {
    width: 53vh;
    padding: 10px;
    padding-left: 30px;
    border: 2px solid white;
    border-radius: 15px;
    outline: none;
}