body {
    background: linear-gradient(-45deg, #0D38B8, #069BC2, #04AA6D, #7CB806);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    animation: gradient 15s ease infinite;
    font-family: 'Roboto', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.titulo {
    font-family: monospace;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.64);
    margin-bottom: 30px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.titulo, div {
    margin: 0 40px;
    /* Ajusta los márgenes según tus necesidades */
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  color: white;
  padding: 10px;
}

.menu {
    display: flex;
    margin-left: 20px;
    margin-right: 13px;    
}

:root {
    --button-background: dodgerblue;
    --button-color: white;

    --dropdown-highlight: white;
    --dropdown-width: 160px;
    --dropdown-background: black;
    --dropdown-color: white;
}

/* Boring button styles */
a.button {
    /* Frame */
    display: inline-block;
    padding: 10px 2px;
    border-radius: 50px;
    box-sizing: border-box;

    /* Style */
    border: none;
    color: var(--button-color);
    font-size: 20px;
    cursor: pointer;
}

a.button:active {
    filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    border: none;
}

.dropdown span {
    cursor: pointer;
}

.dropdown summary {
    list-style: none;
    list-style-type: none;
}

.dropdown>summary::-webkit-details-marker {
    display: none;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown ul {
    position: absolute;
    margin: 0 0 0 2px;
    padding: 15px 0;
    width: var(--dropdown-width);
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2) * -0.8);
    box-sizing: border-box;
    z-index: 2;

    background: var(--dropdown-background);
    border-radius: 16px;
    list-style: none;
    text-align: center;
}

.dropdown ul li {
    padding: 0;
    margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--dropdown-color);
    text-decoration: none;
}

.dropdown ul li a:hover {
    background-color: var(--dropdown-highlight);
    color: var(--dropdown-background);
}


/* Close the dropdown with outside clicks */
.dropdown>summary::before {
    display: none;
}

.dropdown[open]>summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.logopoli {
    width: 52px;
    height: 50px;
    margin-right: 24px;
}

.logopoli:hover {
    -webkit-animation: tiembla 1s infinite;
}

@-webkit-keyframes tiembla {
    0% {
        -webkit-transform: rotateZ(-2deg);
    }

    50% {
        -webkit-transform: rotateZ(0deg) scale(.9);
    }

    70% {
        -webkit-transform: rotateZ(1deg);
    }

    100% {
        -webkit-transform: rotateZ(2deg);
    }
}

.tabla {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1150px;
    background-color: white;
    margin: auto;
    margin-top: 1.5vh;
    font-size: large;
    box-shadow: 0 6px 7px 3px rgba(0, 0, 0, 0.24);
}

.tabla td, th {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: center;
    width: fit-content;
}

.tabla tr:hover {
    background-color: #ddd;
}

.tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.delete-row {
    padding: 9%;
    border: none;
    border-radius: 14px;
    font-size: 19px;
    background-color: rgb(165, 30, 30);
    color: white;
}

.edit-row {
    padding: 9%;
    border: none;
    border-radius: 14px;
    font-size: 19px;
}

.delete-row:hover {
    background-color: red;
}

.edit-row:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.imagen {
    width: 97px;
    height: 90px;
}

.imagen:hover {
    filter: grayscale(80%);
    transition: all 0.4s ease-in-out;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.todo-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido {
    padding-left: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0vh;
    gap: 10px;
}

#user-form button {
    margin-top: 20px;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 17px;
}

#user-form button:hover {
    border: 2px solid rgba(0, 0, 0, 0.6);
}

#user-form div {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#user-form input {
    width: 200px;
    padding: 10px;
    padding-left: 10px;
    border: 2px solid white;
    border-radius: 15px;
    outline: none;
}

.buscar {
    margin-top: 35px;
    margin-left: 20px;
    padding: 10px;
    padding-top: 0vh;
    display: flex;
    flex-direction: column;
}

#user-result {
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: sans-serif;
}

#search {
    height: 35px;
    width: 220px;
    padding: 10px;
    padding-left: 25px;
    border: 2px solid white;
    border-radius: 15px;
    outline: none;
}

/* a partir de acá, css del log in */

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: Arial;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: Arial;
    text-transform: uppercase;
    outline: 0;
    background: #04AA6D;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #066844;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: rgb(49, 110, 114);
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}